<div class="results-card" layout="row" layout-align="center">
    <md-card flex-sm flex-gt-sm="65">
        <md-card-content>
            <!--<md-input-container>-->
                <!--<label>Organization</label>-->
                <!--<md-select ng-model="organizations.selectedOrganization" aria-label="Organization" flex flex-gt-sm="20">-->
                    <!--<md-option ng-repeat="organization in organizations.organizations" ng-value="{{organization}}">-->
                        <!--{{organization.name}}-->
                    <!--</md-option>-->
                <!--</md-select>-->
            <!--</md-input-container>-->
            <div layout layout-sm="column">

            </div>
            <a class="btn btn-primary pointer" ng-click="organizations.facebookLogin()">Login Facebook</a>
        </md-card-content>
    </md-card>
</div>